html {
  font-size: 16px;
  font-family: sans-serif;
}
body {
  color: #111111;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;

  min-height: 100%;
  margin: 0;
}
.head {
  display: block;
  background-image: none;
  height: 80px;
}
.head img {
  display: block;
  width: 64px;
  height: 32px;
  margin-left: 30%;
}
.maket {
  display: block;
  position: relative;
}
.top-line {
  height: 487px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  background-color: #292d33;
  text-align: left;
}
.top {
  width: 1062px;
  height: 621px;
  margin: -417px auto 50px;
  display: flex;
  justify-content: flex-start;
}
.gym-img1 {
  background-position: 50% 50%;
  object-fit: cover;
  background-size: cover;
  position: relative;
}
.bottom-block {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.txt {
  width: 100%;

  margin: 0 0 0 20px;
  padding: 0 30px 20px 0;
  position: relative;
  flex: 1;
  word-wrap: break-word;
  text-align: left;
  flex-shrink: 0;
}
h1 {
  width: 100%;
  font-weight: 700;
  font-size: 3.5rem;
  margin: 0;
  line-height: 1.1;
  color: #f1c50e;
  word-wrap: break-word;
}
.p {
  font-style: italic;
  margin: 20px 0 0;
  color: #ffffff;
  word-wrap: break-word;
}
.link {
  letter-spacing: 1px;
  margin: 12px -29px 0 1px;
  color: #ffffff;
  word-wrap: break-word;
}
.down-gym {
  display: flex;
  flex-direction: row;
  height: 40%;
  margin: 0 15px 0 15px;
}

.gym-img2 {
  background-position: 50% 50%;
  object-fit: cover;
  background-size: cover;
  margin-right: 20px;
}
.gym-img3 {
  background-position: 50% 50%;
  object-fit: cover;
  background-size: cover;
}
img {
  width: 100%;
  height: 100%;
}
.foot {
  color: #ffffff;
  background-color: #333333;
  height: 174px;
  position: relative;
  display: block;
}
.foot p {
  width: 417px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
@media (max-width: 1199px) {
  .top {
    width: 940px;
  }
}
@media (max-width: 991px) {
  .top-line {
    height: 1231px;
  }
  .top {
    height: 100%;
    flex-direction: column;
    width: 750px;
    margin-top: -1161px;
  }
  .bottom-block {
    margin-top: 2%;
    width: 100%;
  }
  .txt {
    flex: 0;
  }
  .down-gym {
    height: 50%;
  }
}
@media (max-width: 767px) {
  .top {
    width: 540px;
    height: 100%;
    margin-bottom: 1px;
  }
  .txt {
    flex: 0;
  }
  .down-gym {
    flex-direction: column;
  }
  .gym-img2 {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .top-line {
    height: 853px;
  }
  .top {
    margin-top: -783px;
    width: 340px;
    height: 100%;
  }
  h1 {
    font-size: 2.25rem;
  }
}
